<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.codepath.todoapplication"
          xmlns:android="http://schemas.android.com/apk/res/android">

  <application
      android:name="com.activeandroid.app.Application"
      android:allowBackup="true"
      android:icon="@mipmap/ic_launcher"
      android:label="@string/app_name"
      android:supportsRtl="true"
      android:theme="@style/AppTheme">

    <!-- add the following metadata for version and database name -->
    <meta-data
        android:name="AA_DB_NAME"
        android:value="TodoClient.db"/>
    <meta-data
        android:name="AA_DB_VERSION"
        android:value="1"/>
    <meta-data
        android:name="AA_MODELS"
        android:value="com.codepath.todoapplication.model.TodoItem"/>

    <activity
        android:name=".activity.SplashScreenActivity"
        android:theme="@style/SplashTheme">
      <intent-filter>
        <action android:name="android.intent.action.MAIN"/>
        <category android:name="android.intent.category.LAUNCHER"/>
      </intent-filter>
    </activity>

    <activity
        android:name=".activity.TodoListActivity"
        android:label="@string/app_name"/>

    <activity
        android:name=".activity.TodoInputActivity"
        android:label=""
        android:parentActivityName=".activity.TodoListActivity">
      <!-- Parent activity meta-data to support 4.0 and lower -->
      <meta-data
          android:name="android.support.PARENT_ACTIVITY"
          android:value=".activity.TodoListActivity"/>
    </activity>

    <activity
        android:name=".activity.TodoDetailsActivity"
        android:label=""
        android:parentActivityName=".activity.TodoListActivity">
      <!-- Parent activity meta-data to support 4.0 and lower -->
      <meta-data
          android:name="android.support.PARENT_ACTIVITY"
          android:value=".activity.TodoListActivity"/>
    </activity>
  </application>

</manifest>